<!doctype html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Formular pentru a trimite comenzi">
	<meta name="keywords" content="produse, decoratiuni, handmade,comanda">
	<meta name="author" content="Dobre Beatrice">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class = "container">
<header>
    <%- include ("../fragmente/header") %>
</header>
<p id ="error"></p>
<% if(!locals.rsstatus) { %>
<form id ="myform">
<label for = "user">Numele si prenumele:</label>
<input type = "text" name = "client" id = "user">
<br/><br/>
<label for = "user">Adresa de email:</label>
<input type = "email" name = "mail" id = "user">
<br/><br/>
<label for = "user">Parola contului:</label>
<input type = "password" name = "parola" id = "user">
<br/>
<p>Firma nu este responsabila cu parcursul produselor dupa ce au fost livrate curierului. Curierul trebuie sa efectueze livrarea in 2-3 zile lucratoare. Produsele pot fi returnate in termen de 30 de zile gratuit, in stare impecabila"</p>
<label><input type = "checkbox" name = "conditie" value = "conditii">Acceptati termenele si conditiile comenzii ?</label>
</br>
<label><input type = "checkbox" name = "noutati" value = "reclame">Doriti sa primiti noutati si oferte pe email?</label>
<br/>
<p>Metoda de plata:</p>
<label><input type = "radio" name = "plata" value = "card">Card online</label><br/>
<label><input type = "radio" name = "plata" value = "cash">Cash ramburs la curier</label><br/>
<label><input type = "radio" name = "plata" value = "cardramburs">Cu cardul ramburs la curier</label><br/>
<p>Oras:</p>
<select name = "oras1">
<option value = "alba">Alba-Iulia</option>
<option value = "arad">Arad</option>
<option value = "bacau">Bacau</option>
<option value = "baia">Baia-Mare</option>
<option value = "brasov">Brasov</option>
<option value = "braila">Braila</option>
<option value = "bucuresti">Bucuresti</option>
<option value = "buzau">Buzau</option>
<option value = "cluj">Cluj-Napoca</option>
<option value = "constanta">Constanta</option>
<option value = "craiova">Craiova</option>
<option value = "focsani">Focsani</option>
<option value = "galati">Galati</option>
<option value = "iasi">Iasi</option>
<option value = "pitesti">Pitesti</option>
<option value = "ploiesti">Ploiesti</option>
<option value = "sibiu">Sibiu</option>
<option value = "targoviste">Targoviste</option>
<option value = "timisoara">Timisoara</option>
<option value = "suceva">Suceava</option>
</select>
<br/>
<label for = "user">Altul:</label>
<input type = "text" name = "oras" id = "user"><br/><br/>
<textarea name = "comments" rows = "5" cols = "50"> Aici puteti lasa comentarii aditionale despre comanda </textarea><br/><br/>
<input type = "submit" onclick = "sendJson()" value = "Trimite">
<input type = "reset" value = "Anuleaza"> 
      <p class="result" style="color:green"></p> 
      
   </p>
</form> 
<% } else if(rsstatus=="ok"){ %>
			<p>Date introduse</p>
		<% } else {%>
			<p>Eroare</p>
		<% } %> 
</body>
<footer>
    <%- include("../fragmente/footer")%>
</footer>
	<script src="scripts/scriptFormular.js"></script>
</html>