@{
    ViewBag.Title = "About us";
}
<h2 style="text-align:center" class="page-header">@ViewBag.Title</h2>

<div class="container">

    <p class="lead">
        Discerning travelers know that the best tour operators in the world are like magicians. They can arrange meals at secret restaurants, private viewings in wildlife reserves, and after-hours visits to top museums. One day they might surprise you with a sundowner on a secluded beach, a helicopter ride to lunch, or a walking safari.
    </p>

    <p class="lead"> These are the kinds of trips and flourishes that would be difficult, if not impossible, to put together on your own, even with a meticulous personality and an abundance of free time. The best tour operators have the connections, experience, and know-how that are essential to planning a seamless journey.
    </p>
    <p class="lead">
        If you want to guarantee a once-in-a-lifetime experience, these are the best jouneys to take.
    </p>
    <img src = "/images/travel.jpg" alt="Travel"  height="600" style="width:100%;"/>
</div>

