@{
    ViewBag.Title = "Contact";
}
<h2 style="text-align:center" class="page-header">@ViewBag.Title</h2>

<h2>Check where you can find us</h2>
<address>
    Bucharest<br />
    Str. Academiei nr.14, 010014 București<br />
    <abbr title="Phone">Phone number: </abbr>
    +4021 314 3508
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">secretariat@fmi.unibuc.ro</a><br />
    <strong>Careers:</strong> <a href="mailto:careers@example.com">careers@example.com</a><br />
    <strong>Become an organizer:</strong> <a href="mailto:organizers@example.com">organizers@example.com</a>
</address>

<img src="/images/locatie.jpg" alt="Location" height="600" style="width:100%;" />
