<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8"/>
		<title>404error</title>
		<link rel="stylesheet" type="text/css" href="css/css_general.css"/>
	</head>
	<body>
		<h1>Oops ! Error 404 not found! </h1>
		<img src = "../images/404.jpg" alt = "oops" title = "404error" width="600px" height="600px">
	</body>
</html>