<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pagina principala</title>

	<meta charset="utf-8">
	<meta name="author" content="Betty"/>
	<link type="text/css" rel="stylesheet" href="../css/css_general.css"/>
</head>
<body class="container">

<header>
    <%- include ("../fragmente/header") %>
</header>

<form method="post">
   <input type="submit" value="buton">
</form>

<footer>
    <%- include("../fragmente/footer")%>
</footer>

</body>
</html>