<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pagina principala</title>

	<meta charset="utf-8">
	<meta name="author" content="Dobre Beatrice"/>
	<link type="text/css" rel="stylesheet" href="../css/css_general.css"/>
	<link rel="stylesheet" type="text/css" href="css/stil.css"/>
</head>
<body class="container">

<header>
    <%- include ("../fragmente/header") %>
</header>

<main>
   <p> Ai fost delogat! Te mai asteptam pe la noi ! </p>
</main>

<footer>
    <%- include("../fragmente/footer")%>
</footer>

</body>
</html>