<!doctype html>
<html lang="ro">

<head>
<title>Sticle si pahare de nunta</title>
	<meta charset="UTF-8">
	<meta name="description" content="Sticle de diferite dimensiuni si pahare de nunta decorate cu ata ">
	<meta name="keywords" content="produse, decoratiuni, handmade, sticla, ata, cadou, decorata, pahare, nunta, sfoara">
	<meta name="author" content="Dobre Beatrice">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/css_general.css"/>
	<link rel="stylesheet" type="text/css" href="css/grid.css"/>
	<link type="text/css" rel="stylesheet" href="../css/stil.css"/>
	<script src="scripts/script.js"></script>
	
</head>

<body onload="loadPageFunction()">

<header>
<%- include ("../fragmente/header")%>
</header>

<h1>Sticle decorate si pahare de nunta</h1>


<main>

<p class = "descriere">Cu sfoara se pot decora diferite obiecte cum ar fi:sticle, pahare, farfurii, cani si multe altele. Acestea isi schimba complet aspectul si devin produse de mare admiratie si frumusete ce aduc un aer placut in locuinta si ceva deosebit care te face sa te simti satisfacut de tot ce te inconjoara. Aici veti gasi produse decorate cu sfoara in combinatie cu alte tehnici unde s-a depus multa rabdare , atentie pentru a iesi produse unicat si cu mult gust placut. Nu sunt printre cele mai usoare obiecte decorative de realizat, dar nici printre cele mai grele si asta pentru ca cele de astazi au nevoie de putine accesorii, insa este nevoie de multa rabdare pentru a le finaliza.Metoda de lucru este cat se poate de simpla. Incepeti sa lipiti de sus in jos, alternand lana de diferite culori, asta in cazul in care vreti sa realizati un curcubeu pe sticla. Daca nu, puteti opta pentru o singura culoare,decorand sticla cu alte accesorii precum nasturi, margele albe sau bucati de dantela sau panglica.
</p>
<br/><br/>
<select name="sortPret" id = "modalitate">
  <option value = "alege">Produse sortate...</option>
  <option value="crescator">Pret crescator</option>
  <option value="descrescator">Pret descrescator</option>
</select>
</br><br/>

<input type = "range" min = "0" max = "100" step="10" id = "range" oninput = "rangeSort()" >0..100</label>
<br/>
<p id ="valoare"></p>
<br/>
<input type="text" id="myInput" onkeyup="search()" placeholder="Search for names.." title="Type in a name">
<article class = "grid-container">
<figure class = "grid-item">
<img src= "images/Sticle/s1.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption><strong>Sticla de vin decorata cu atat si flori din portelan la rece</strong> semnificand un ciorchine de struguri</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s2.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Recipient de cafea decorat cu ata si boabe de cafea</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s3.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" width="300" height="200">
<figcaption>Sticla de bautura acoolica decorata cu atat, ghiveci decorat cu ata si recipient pentru cafea</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s4.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Recipient de depozitare decorat cu diferite tipuri de ata si flori din plastic</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s6.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Sticla de ulei decorata cu ata si material</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s7.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Recipient de depozitare decorat cu ata si figurine din plastic</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s8.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Sticle pentru bautura alcoolica decorate cu ata</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s9.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Sticla pentru bautura alcoolica decorata cu ata, material si flori din plastic</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s10.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Sticla decorat cu ata si vopsita</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s11.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Sticla pentru bautura decorata cu ata, material si vopsita</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s12.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Sticle pentru bautura alcoolica decorate cu ata</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/s13.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Sticla decorata cu ata, material si vopsita</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/c1.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Pahare pentru miri si nasi decorate cu ata</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/c2.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Pahare pentru miri si nasi decorate cu ata</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/c4.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "410" width = "300">
<figcaption>Pahare pentru miri si nasi decorate cu ata</figcaption>
</figure>
<figure class = "grid-item">
<img src= "images/Sticle/c3.jpg" alt="Imaginea nu poate fi incarcata" title="sticla decorata" height = "300" width = "350">
<figcaption>Pahare pentru miri si nasi decorate cu ata</figcaption>
</figure>

</article>

<p>Preturi: </p>
<ol id = "lista">
	<li>50 LEI</li>
	<li>30 LEI</li>
	<li>50 LEI/buc</li>
	<li>50 LEI</li>
	<li>30 LEI</li>
	<li>40 LEI</li>
	<li>50 LEI/buc</li>
	<li>5 LEI</li>
	<li>50 LEI</li>
	<li>50 LEI</li>
	<li>30 LEI</li>
	<li>50 LEI</li>
	<li>30 LEI/buc</li>
	<li>30 LEI/buc</li>
	<li>30 LEI/buc</li>
	<li>30 LEI/buc</li>
</ol>

</main>
<footer>
<%- include("../fragmente/footer")%>
</footer>
</body>
<script src="scripts/scriptSticle.js"></script>
</html>